* {
  border: .4px solid none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  background: lightblue;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  height: 100%;
  padding: 10px;
}

.right-banner ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}

.left-banner input {
  list-style-type: none;
  width: 6rem;
  font-size: 12px;
  min-height: 1.3rem;
  align-items: center;
}


.divcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding: 1rem;
  background: rgba(71, 66, 66, 0.877);

}

.recipe-container{
  background: url(./HPic/e92.jpg);
  padding-left: 3rem;
  padding-right: 3rem; 
}

.recipe {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  max-height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 5px;
  min-height: 8rem;
  background: rgba(204, 2, 53, 0.767); 
  padding: 0;
  border-radius: 10px;
  align-items: top;
}


.food {
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  flex-shrink: 1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 100%;
  height: 400px;
  max-width: 250px;
  max-height: 250px;
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.paracont {
  display: flex;
  justify-content: center;
  flex-direction: column;
} 

.paracont h1 {
  display: flex;
  align-items: top;
  justify-content: center;
}

p {
  font-size: 16px;
  margin: 5px;
  display: flex;
  align-items: bottom;
}

.container {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;

}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scrollbar-width: 0px;
  scrollbar-color: green;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%, 0.25);
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem ;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
  opacity: 0.75;
  transition: opacity ease 250ms;
  animation: left 1.2s;
}

.slider-nav a:hover {
  opacity: 1;
}

body {
  overflow-x: hidden; 
}

.slider::-webkit-scrollbar {
  display: none;
}