.img-box img {
	max-height: 450px;
	display: flex;
	min-width: 100%;
	max-width: 900px;
	object-fit: cover;
}

.img-box {
	display: flex;
	justify-content: center;
}

.own {
	display: flex;
	justify-content: center;
}

.btn img {
	width: 50px;
	height: 50px;
	background-color: none;
}

.btn button {
	background-color: transparent;
}

button {
	background-color: transparent;
	outline: none;
	border: none;
}

.main {
	display: flex;
	flex-direction: column;
	background: #090909c0;
}
body {
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 0px;
}